.runeCalculatorButtons {
    border: 2px solid #17A07B;
    overflow: hidden;
    border-radius: 4;
    background-color: #fcfcfb;
    // transition: theme.transitions.create(['border-color', 'box-shadow']);
}