
$dropTableInfoThreshold: 1030px;

.graphChartCard {
    margin: 2%;
    display: flex;
    justify-content: center;
}

@media (min-width: $dropTableInfoThreshold) {
    .graphChartCard {
        display: flex;
        margin: 2%;
        gap: 2%;
        align-items: center;
    }
}

.graph {
    position: relative;
    height: 90%;
    width: 90%;
}